name: Docker Image CI for Docusaurus

on:
  push:
    branches:
      - 'main'

permissions:
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Build the Docker image
        run: |
          docker build . --file Dockerfile --tag ghcr.io/helio-collabathon/documentation:latest

      - name: Push the Docker image
        run: |
          docker push ghcr.io/helio-collabathon/documentation:latest